<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="9bk0s8YSK1G-u3ViGOVuOmWisBxh4wL2P5puZtXVx3Q" />
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<link rel="icon" type="image/png" href="assets/logo.png">
<link rel="stylesheet" href="style.css">

<meta property="og:title" content="{{ ogTitle }}" />
<meta property="og:description" content="{{ ogDescription }}" />
<meta property="og:image" content="assets/logo.png" />
<meta property="og:url" content="{{ ogUrl }}" />
<meta property="og:type" content="website" />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-K7PH0QK8SR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-K7PH0QK8SR');
</script>
